---
import Layout from "../layouts/Layout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<Layout title="404">
  <div class="container mx-auto">
    <LottieAnimation src="../../public/404.json" />
  </div>
</Layout>
